* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --header-color: linear-gradient(#ee4d2d, #ff7337);
  --white-color: #fff !important; 
  --back-color: #000 !important;
  --text-color: #333 !important;
  --primary-color: #ee4d2d !important ;
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}