
.body_wraper {
    background-color:#f5f5f5 ;
}

/* Header CSS */
#header {
    background-image: var(--header-color);
    min-height: 12rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2 ;
}

.header_nav {
    font-size: 1.3rem;
    color: var(--white-color); 
    margin: 8px 0px;
    padding: 0px 4px;
    justify-content: space-between;
}

.header_nav-contact {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;

}

.header_nav-contact-item  {
    padding:0 1rem;
    position: relative;
}

.header_nav-contact-item:not(:first-child) {
    border-left: 2px solid #ccc;
}


.header_nav-contact-item > a {
    text-decoration: none; 
    color: var(--white-color); 
}
.header_nav-contact-item.hoverStore:hover,
.header_nav-icon-fb:hover,
.header_nav-icon-intas:hover,
.header_nav-contact-item:hover .shoppe_qr {
    opacity: 0.8;
    cursor: pointer;
}

.header_nav-contact-item span a {
    padding: 4px;
    color: var(--white-color);
    margin-left:4px ;
}

.header_nav-contact-item span a i {
    font-size: 16px;
}

/* QR code css */

.download_Wraper {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    min-width: 140px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: fadeIn ease-in-out 0.5s;
}

.download_Wraper::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
    top: -16px;
    background-color: transparent;
}

.header_qrCode {
    min-width: 14rem;
}

.header_qrCode img {
    background-color: var(--background-color);
    width: 14rem;
    padding: 2px;
    
}

.header_download_app {
    justify-content: flex-start;
    margin: 0 2px;
}

.header_download_app-item {
    width: 100%;
}

.header_nav-contact-item-qrCode:hover .download_Wraper{
    display: block;
}



.header_download_google-store,
.header_download_app-store,
.header_download_app-gallery{
    height: 15px;
    margin-left: 2px;
    width: 95%;
}

.header_nav-support {
    display: flex;
}

.header_nav-support {
    justify-content: flex-end;
}


.header_nav-icon {
    font-size: 1.6rem;
    padding-right: 5px;
}

.header_nav-notify,
.header_nav-support-item,
.header_nav-support-language,
.header_nav-support-register,
.header_nav-support-login{
    padding: 0 10px;
    cursor: pointer;
}



.header_nav-notify:hover,
.header_nav-support-item:hover,
.header_nav-support-language:hover,
.header_nav-support-register:hover,
.header_nav-support-login:hover {
    opacity: 1;
}

/* header-nav-notification */
.header_nav-notify {
    position: relative;
}

.header_nav-notify:hover .header_nav-notify-wraper {
    display: block;
}

.header_nav-notify-wraper {
    position: absolute;
    left: -200px;
    top: 25px;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 400px;
    min-width: 300px;
    min-height: 300px;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 6;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform;
}


.header_nav-notify-wraper::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
    top: -16px;
    background-color: transparent;
}

/* header notify arrow CSS */

.header_nav-notify-wraper::after {
    content: "";
    position: absolute;
    top: -28px;
    right: 3px;
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}


.header_nav-notify-confirm {
    text-align: center;
    /* margin-top: 100px ; */
    padding: 100px 50px 10px;
}

.header_nav-notify-confirm-img {
    width: 100px;
}


.header_nav-notify-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}

.header_nav-notify-confirm-message {
    text-align: center;
    margin: 20px auto;
    font-size: 15px;
    user-select: none;
}

/* language subnav CSS */

.header_nav-support-language {
    position: relative;
}

.header_nav-support-language:hover .header_nav-language-wraper {
    display: block;
    opacity: 1;
}

.header_nav-language-wraper {
    position: absolute;
    right: 0;
    top: 22px;
    width: 200px;
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    padding: 4px 0;
}

.header_nav-language-wraper::before {
    content: "";
    display: block;
    position: absolute;
    width:100%;
    height: 25px;
    top: -8px;
    background-color: transparent;
}

.header_nav-language-wraper::after {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    right: 4px;
    border: solid;
    border-width: 10px 18px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header_nav-language-vietnamse,
.header_nav-language-englist {
    width: 100%;
    line-height: 2.4rem;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

.header_nav-language-vietnamse:hover .vietnamse,
.header_nav-language-englist:hover .enlish {
    color: var(--primary-color);
}


.vietnamse,
.enlish {
    text-decoration: none;
    color: var(--text-color);
}


.header_nav-notify-register,
.header_nav-notify-login {
    text-align: center;
    background-color: #f5f5f5;
    font-size: 15px;
    line-height: 42px;
}

.header_nav-notify-register:hover,
.header_nav-notify-login:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.header_nav-icon-down {
    position: relative;
    top: 3px;
}

.header_nav-support-register {
    padding-top: 2px;
    font-size: 14px;
}

.header_nav-support-login {
    font-size: 14px;
    padding-top: 2px;
    border-left: 2px solid #ccc;
}

/* search + input Css */

.header_search-wraper {
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    margin: 0 20px;

}
.header_search-logo {
    width: 200;
    /* margin-left: 20px; */
}

.shopee-svg-icon {
    width: 150px;
    color: var(--white-color);
    position: relative;
    top: -20px;
    cursor: pointer;
}



.header_search {
    flex: 1;
    margin: 20px 25px;
}


.header_search-info {
    background-color: var(--background-color);
    display: flex;
    width: 100%;
}

.header_search-input {
    border: none;
    padding: 8px 12px ;
    font-size: 15px;
    flex: 1;
}

.header_search-input:focus-visible {
    outline: none;
}
.header_search-suggest {
    display: flex;
    justify-content: flex-start;
}

.header_search-suggest-item {
    margin:5px 0 ;
    padding: 5px 0px;
}

.header_search-suggest-item a {
    color: var(--white-color);
    font-size: 14px;
    text-decoration: none;
}

.header_search-suggest-item:not(:first-child) {
    margin-left: 20px;
}

.header_search-btn:hover,
.header_search-logo-cart:hover i,
.shopee-svg-icon:hover,
.header_search-suggest-item:hover {
    opacity: 0.8;
    cursor: pointer;
}
.header_search-btn {
    background-color: var(--primary-color);
    margin: 2px;
    font-size: 18px;
    line-height: 34px;
    padding: 0 25px;
    color: var(--white-color);
    border-radius: 5px;
}


.header_search-logo-cart {
    font-size: 32px;
    padding: 0 20px;
    position: relative;
}

.header_search-logo-cart i {
    color: var(--white-color);
    position: relative;
    top: -20px;
}

/* Cart notify CSS */

.header_search-cart-wraper {
    position: absolute;
    width: 400px;
    min-height: 240px;
    top: 28px;
    right: 0;
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
}

.header_search-logo-cart:hover .header_search-cart-wraper {
    display: block;
}

.header_search-cart-noItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.cart-noItem-img {
    padding: 50px 0 20px 0;
    margin-top: 50px;
}

.cart_noItem-message {
    font-size: 13px;
    padding: 20px 0;
    user-select: none;
    width: 100%;
    text-align: center;
}

.cart_noItem-message::before {
    content: "";
    position: absolute;
    right: 0;
    top: -18px;
    background: transparent;
    width: 100%;
    height: 20px;

}

.cart_noItem-message::after {
    content: "";
    position: absolute;
    right: 20px;
    top: -26px;
    border: solid;
    border-width: 14px 16px;
    border-color: transparent transparent var(--white-color);
}



/* login modal */

.login_modal {
    min-width: 450px;
}

.login_modal-container {
    background-color: var(--white-color);
}

.login_modal-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 20px;
}

.login_modal-register,
.login_modal-login {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
    padding: 10px 24px;
    border-radius: 5px;
}

.login_modal-register:hover,
.login_modal-login:hover {
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--primary-color);
}

.login_modal-register.active,
.login_modal-login.active {
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 22px;
}

.login_modal-content {
    margin: 10px 0;
    padding: 10px 20px;

}

.register_number,
.register_authentication,
.register_verification {
    margin:8px 0 ;
    line-height: 38px;
    border-radius: 4px;
    font-size: 13px;
    width: 100%;
}

.register_number {
    border: 2px solid #000;
    padding: 0px 15px;
}

.register_verification,
.register_authentication {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #000;
}

.register_verification {
    margin-top: 15px;
}
.register_verification-inputNumber,
.register_authentication-input {
    padding: 0px 15px;
    flex: 1;
    border: none;
    outline: none;
}

.register_authentication-number {
    width: 25%;
    font-weight: 500;
    border-left: 2px solid #000;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.register_send-verifyNumber {
    border-left: 2px solid #000;
    font-size: 13px;
    text-align: center;
    padding: 0 5px;
    background-color: #f5f5f5;
    cursor: pointer;
    font-weight: 500;
}

.register_send-verifyNumber:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.register-confirm {
    text-align: center;
    margin: 40px 0;
}

.register-confirm-message {
    font-size: 14px;
    line-height: 1.6rem;
    padding: 0 24px;

}

.register-confirm-message a {
    text-decoration: none;
    color: var(--primary-color);
}

.register-confirm-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-bottom: 20px;
}

.register-confirm-back,
.register-confirm-Register {
    text-transform: uppercase;
    padding: 12px 36px;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    border-radius: 4px;
}

.register-confirm-back:hover,
.register-confirm-Register:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

.modal_social-contact {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}

.google-contact,
.facebook-contact {
    margin: 20px;
    font-size: 20px;
    padding: 10px;
}

.google-contact {
    background-color: #3B5998;
}


.google-contact i,
.facebook-contact i {
    padding-right:40px ;
}